* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: powderblue;
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: powderblue;
    color: black;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    font-size: 48px;
    opacity: 100%;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul, .content-block ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  margin: 0 10px;
  font-size: 2.5vw;
}

a {
    color: black;
    text-decoration: none;
}

p {
    font-size: 16px;
}

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer h3 {
    font-size: 20px;
}

.hero {
    height: 500px;
    width: 100%;
    margin-bottom: 25px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("../images/javascript-hero.jpg");
    background-size: cover;
    background-position: center;
}


.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    display: inline-block;
    margin-left: 20px;
}

.title-block {
    padding-right: 15px; 
}

.content-block {
    margin-bottom: 20px;
    width: 100%;
    padding: 30px; 
    height: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #0072bb;
    display: flex;
    justify-content: space-between
}

.content-block .title-block h2 {
    margin-bottom: 20px;
    font-size: 36px;
    padding-right: 5px;
}

.service-grid-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
}

.service-grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    font-size: 1.2rem;
}

.service-grid-item {
    padding: 15px 0;
    border: 2px solid var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.service-grid-item.spotlight {
    background-image: url("../images/bradleypaul.github.io_dm-emergency-paper-locator_.png");
    grid-row: 1;
    grid-column: 1;
}

.service-grid-item.secondary {
    grid-row: 2;
    grid-column: 2;
    background-image: url("../images/motor-services.png");
}
.service-grid-item.spotlight h2 {

    
    height: 500px;
}

h2 {
    height: 200px;
}